CREATE TYPE tournament_status AS ENUM ('DRAFT', 'REGISTRATION', 'ACTIVE', 'COMPLETED', 'ARCHIVED'); ALTER TABLE tournaments ADD COLUMN status tournament_status DEFAULT 'DRAFT', ADD COLUMN start_at TIMESTAMPTZ;
