NEXT_PUBLIC_SUPABASE_URL="https://ton-projet.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="ta_cle_publique_anon_ici"

NEXT_PUBLIC_DISCORD_GUILD_ID="ton_guild_id_ici"

NEXT_PUBLIC_BOT_API_URL="http://localhost:8080"


NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="un_secret_tres_aleatoire_et_long"

DISCORD_CLIENT_ID="ton_client_id_ici"
DISCORD_CLIENT_SECRET="ton_client_secret_ici"
